# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
*.venv

# Database
*.db
*.sqlite3
receipts.db

# Uploads
backend/uploads/

# Environment variables
.env

# IDE specific
.vscode/
.idea/

# macOS
.DS_Store
